body {
    height: 100vh;
    background-size: cover;
    background-position: center;
}

html {
    font-family: 'lato', Arial, Helvetica, sans-serif;
}


/*****************************Navigation**********************/

#sign-out {
    height: 50px;
    width: 50px;
    display: inline-block;
    padding: 30px;
    float: right;
}

h1 {
    color: wheat;
    padding-left: 30px;
    font-weight: 300;
    display: inline-block;
}

#profile {
    margin: 15% 20% 22% 30%;
    height: 250px;
    width: 250px;
    border-radius: 200px;
}

#stng {
    background-size: cover;
    background-position: center;
    text-align: center;
    height: 400px;
    width: 450px;
    margin-left: 105px;
    margin-top: 20px;
    border-radius: 100px;
}

.btn {
    border-radius: 30px;
    border: 1px solid wheat;
    border-color: (231, 164, 38);
    text-decoration: none;
    padding: 8px;
    background-color: rgb(78, 78, 77);
    color: wheat;
}

.btn:hover {
    background-color: grey;
}

ul {
    margin: 28% 25% 25% 18%;
}

li {
    margin-left: 25px;
    padding: 7px;
    text-align: left;
    list-style: none;
}

li a {
    text-decoration: none;
    color: wheat;
    text-decoration: black;
    text-shadow: black 2px 2px;
}

li a:hover {
    border-bottom: 1px solid wheat;
}